/* FOOTER */
.foot {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  padding: 25px;
  grid-area: footer;
  background: linear-gradient(to top, #642b73, #c6426e); }
  .foot a {
    color: red;
    font-family: 'Monserrat', Arial, Helvetica, sans-serif; }

.menu ul {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.contactos {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-around;
  padding: 30px 0px;
  grid-area: contactos; }

.redes {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 10px; }

h5 {
  color: black;
  font-size: 15px;
  font-family: 'Monserrat', Arial, Helvetica, sans-serif; }

/* Mi grilla */
.miGrilla {
  display: grid;
  grid-template-areas: 'header' 'section' 'marcasDestacadas' 'contactos' 'footer';
  grid-template-rows: 250px 350px 350px 250px;
  justify-content: center; }

/* BODYs Generales  */
body {
  background-image: url(../css/media/fondo.png);
  background-repeat: repeat;
  font-family: 'Montserrat', 'Roboto Slab', sans-serif; }

.marcasDestacadas {
  width: 90%;
  height: 250px;
  padding: 5%; }

.videoCentro {
  margin-left: auto;
  margin-right: auto; }

.parrafo {
  color: #4c5b5c; }

.listaQuienes {
  color: whitesmoke;
  font-weight: 600; }

.listarOraciones {
  color: whitesmoke; }

.resaltaMarca {
  color: whitesmoke;
  font-weight: 900; }

/* Mi grilla */
.miGrilla {
  display: grid;
  grid-template-areas: 'header' 'section' 'marcasDestacadas' 'contactos' 'footer';
  grid-template-rows: 250px 350px 350px 250px;
  justify-content: center; }

/* Clases Pagina Ingresar */
/*formulario ingresar*/
.contenedorTabla {
  padding: 50px; }

.alineacionTabla {
  width: 100%;
  align-content: center;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif; }

.formIngresar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.estiloForm {
  width: 300px;
  height: 275px;
  display: flex;
  flex-flow: column;
  align-content: center;
  padding-bottom: 20px; }

.estiloFormulario {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-family: 'Montserrat', sans-serif; }

.botones {
  display: flex;
  flex-flow: row nowrap; }

label {
  margin: 5px 10px 1px 10px;
  padding: 10px; }

input {
  margin: 5px 10px 1px 10px;
  padding: 10px; }

.contenedorCarousel {
  width: 300px;
  height: 300px;
  display: block;
  justify-content: center;
  align-items: center; }

/*media queries*/
h1 {
  font-family: "Roboto Slab", sans-serif;
  text-align: right;
  padding-right: 10%;
  text-decoration: underline;
  letter-spacing: 5px;
  padding: 50px 100px;
  margin: 5px;
  font-size: 50px;
  color: pink; }

/* MI HEADER*/
nav {
  color: whitesmoke;
  font-weight: 200;
  width: 100%; }

.imagenlogo {
  background-image: url(../media/bebidas_alcoholicas.jpg);
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%; }

.header {
  display: flex;
  grid-area: 'header'; }

.menuPrincipal {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to top, #642b73, #c6426e); }

.menu {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 20px; }

.menu li {
  display: inline-block;
  font-size: 15px; }

.menu ul li a:hover {
  background-color: black; }

.menu ul ul {
  position: absolute;
  display: none; }

.menu ul ul li {
  display: block;
  position: relative; }

.menu ul li {
  display: inline-block;
  font-size: 15px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif; }

.menu ul li:hover ul {
  display: block; }

h2 {
  background-color: black;
  color: whitesmoke; }

.iframeVideo {
  display: flex;
  flex-flow: column;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center; }
